.menu__router {
  margin-top: 10rem;
  height: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: large;
  text-align: center;
}

.menu__router-ul {
  padding: 0px;

  a {
    &:hover {
      color: #f3d1bb; // #978c85;
    }
  }

  a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%; //x vs Y
    background-repeat: no-repeat;
    background-size: 0% 2px; //X=0% , Y=12PX
    transition: background-size 0.3s;
  }

  a {
    &:hover,
    :focus {
      background-size: 100% 2px; //X=100% , Y=8PX
    }
  }

  a.active {
    color: #f3d1bb;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 2rem;
}
