.portfolio__main {
  background-color: $primary;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.portfolio__container {
  display: flex;
  margin: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.portfolio__container-body {
  width: 50vw; //35vw;;
}
.portfolio__container-navbar {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 50vw;
}

.portfolio__container-separator {
  background-color: white;
  height: 65vh;
  margin-top: 4rem;
  width: 0.5rem;
}

.portfolio__container-title {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 8rem;
}

.portfolio__container-menu {
  margin-left: 2.5rem;
  margin-top: 10rem;
}

.portfolio__personal-information {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 10rem;
  }
}

.portfolio__img {
  border-radius: 13rem;
  margin-left: 4rem;
  margin-top: 3rem;
  width: 25rem;
}

.portfolio__footer {
  bottom: 0;
  clear: both;
  height: 8vh;
  position: fixed;
  width: 100vw;
  background-color: $primary;

  h3 {
    align-items: center;
    color: #ffffff;
    font-weight: inherit;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  p {
    align-items: center;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: inherit;
    margin-left: 2rem;
    text-align: center;
    width: 100vw;
  }
}

//Media Query
@media (max-width: 1824px) {
  .portfolio__img {
    margin-left: 0rem;
   width: 15rem;
  }

  .portfolio__personal-information p{
    margin:2rem;
  }

  .portfolio__container-title{
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .portfolio__container {
    flex-direction: column;
    margin: 0px;
    width: 100vw;
  }
  .portfolio__container-body {
    width: 100vw;
  }

  .portfolio__container-navbar {
    flex-direction: column;
    margin: 0px;
    width: 100vw;
  }

  .portfolio__container-separator {
    background-color: white;
    height: 0.5vh;
    margin-top: 1rem;
    width: 100vw;
  }

  .portfolio__container-menu {
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
